<div id = "summary">
<h3>Welcome to G.I.T. It Together!</h3>
<p>G.I.T. It Together provides a visual summary of any GitHub user's account.  G.I.T. is a recursive acronym, short for G.I.T. It Together - because we're just that nerdy.</p>

<h4>Logging In</h4>
<p>In order to use this site, you need to log in using your GitHub information.  When you log in, G.I.T. pulls
  information on your account and your repositories from GitHub.  Please be patient, as this process takes a little while to complete.</p>

<h4>Home Page</h4>
<p>On the home page, you can search for a user by GitHub login name or actual name (as long as the name is affixed to the account).
Clicking on that login will take you to the user's profile.  If that user has never logged in to G.I.T., this will also take a little while to generate.</p>

<h4>User Profiles</h4>
<p>A profile page will display three items - a profile box (containing the user's name or login), a bar graph, and a pie chart.</p>
<p>Hovering over a bar on the bar graph will show the language and bytes of code in that language.</p>
<p>Hovering over a slice on the pie chart will show the language and percentage of code in that language.</p>
<p>Clicking on the profile box will bring up a visual summary of the repositories - more information on this summary is below.</p>

<h4>Repository Summary</h4>
<p>Hovering over a square in the repo summary will initially provide only the name of that repo in the profile box.
  Hover over it for long enough, however, and a more detailed summary of the repo will appear.
  You can also click on a repository's square, which will take you to that repo in GitHub.</p>
<p>Click on the profile box again to return to the initial profile page layout.</p>
</div>