<div id = "summary">
<h3>Welcome to G.I.T. It Together!</h3>
<p>G.I.T. It Together provides a visual summary of any GitHub user's account.  G.I.T. is a recursive acronym, short for G.I.T. It Together.</p>

<h4>Logging In</h4>
<p>In order to use this site, you need to log in using your GitHub information.  When you log in, G.I.T. pulls
  information on your account and your repositories from GitHub.  Please be patient, as this process takes a little while to complete.</p>

<h4>Home Page</h4>
<p>On the home page, you can search for a user by GitHub login name or actual name (as long as the name is affixed to the account).
Clicking on that login will take you to the user's profile.  If that user has never logged in to G.I.T., this will also take a little while to generate.</p>

<h4>User Profile</h4>
<p>The profile page will display three items - a profile box, a bar graph, and a pie chart.</p>
</div>