html {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	background: url('darkdenim3.png');
}

a {
	color: black;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:hover {
	text-shadow: -1px -1px 1px rgba(43, 43, 43, 0.5);
}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:link {text-decoration: none;}

#body_container {
	margin: auto;
	margin-top: -100px;
	padding-top: 120px;
	padding-bottom: 50px;
	width: 1100px;
	height: 900px;
	z-index: -10;
}

#navbar {
	height: 60px;
	padding-left: 20px;
	text-align: center;
	background: #00ced1;
	margin: 0 -1px 0 -1px;
	position: relative;
	z-index: 3;
}

a #nav_title {
	font-family: 'Yesteryear';
}

#nav_title {
	float: left;
	margin-left: -45px;

	position: absolute;
	width: 400px;
	font-family: 'Yesteryear', sans-serif;
}

.nav_button {
	display: inline-block;
	margin: 16px 30px 0 0;
	font-size: 20px;
}

#search_bar {
	float: right;
	clear: both;
}

