button{
  margin:10px;
}

pre{
  padding:10px;
  border: 1px solid #dddddd;
}

#graphs_container {
  margin: auto;
}

#bar_graph_container {
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 0px;
  float: left;
  background:rgba(188, 188, 188, 1.0000);
}

#pie_chart_container {
  border-radius: 5px;
  padding: 5px;
  float: right;
  background:rgba(188, 188, 188, 1.0000);
}