button{
  margin:10px;
}

pre{
  padding:10px;
  border: 1px solid #dddddd;
}

#graphs_container {
  margin: auto;
}

#bar_graph_container {
  padding: 5px;
  float: left;
}

#pie_chart_container {
  padding: 5px;
  float: right;
}