#profile_box {
	width: 250px;
	margin: auto;
	margin-bottom: 70px;
	margin-top: 25px;
	background: #5f7c81;
	opacity:0;
}

#container {
	width: 900px;
	background: #5f7c81;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
}